@import url('http://fonts.googleapis.com/css?family=Cabin|Josefin+Slab:400,600|Inconsolata');

body {
  background-color: #FDF4F1;
}

.ui.button {
  font-family: 'Cabin' !important;
  letter-spacing: 2px !important;
}
