@import url('https://fonts.googleapis.com/css?family=Cabin|Josefin+Slab:400,600|Inconsolata');

body {
  background-color: #FDF4F1;
}

.ui.button {
  font-family: 'Cabin' !important;
  letter-spacing: 2px !important;
  display: inline !important;
}

.header {
  font-family: 'Josefin Slab' !important;
}

.ui.form textarea {
  font-size: 1.5em !important;
  font-family: 'Inconsolata' !important;
}

p, .content {
  font-family: 'Inconsolata' !important;
}

.ui.modal>.content {
  font-size: 1.5em !important;
}

i {
  color: #475B9E;
  margin-top: 10px !important;
}

.ui.grid, .ui.form {
  margin-top: 75px !important;
}
